{% extends 'base.html.twig' %}

{% block title %}Hello ParallaxController!{% endblock %}

{% block body %}
    <style>
/* un-comment👇 to hide scrollbar */

/* ::-webkit-scrollbar {
	width: 0px;
	background: transparent;
} */

body {
	margin: 0;
	height: 100vh;
	font-family: sans-serif;
}

section {
	height: 100%;
}

.parallax-head {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 5em;
	height: 100vh;
	margin: 0;
}

.circle {
	width: 150px;
	height: 150px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #000;
	border-radius: 50%;
	background: radial-gradient(circle at 100px 100px, #47dbfc, #000);
}

.photo {
	position: absolute;
	bottom: 0;
	left: -250px;
	z-index: -99;
}

    </style>

 <section>
	<h1 class="parallax-head">
		<span class="parallax-scroll" data-rate="-.5" data-direction="verticle">Par</span><span>al</span><span class="parallax-scroll" data-rate=".5" data-direction="verticle">lax</span>
	</h1>

	<span class="parallax-scroll circle" data-rateX="2" data-rateY="1" data-direction="horizontal"></span>

	<!-- 		<img class="parallax-scroll photo" data-rateX="2" data-rateY="1" data-direction="horizontal" src="img/photo.png" alt="Animal" /> -->
</section>

<section class="just-for-space"></section>

<script>

// https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/translate3d()

// Dynamic parallax scrolling effect (Horizontal and Verticle) using vanilla JavaScript
// Change "data-direction" attribute value in HTML to change direction (horizontal or verticle).
// Change "data-rate" attribute value in HTML to change scrolling speed.

// FULL PAGE VIEW:=> https://codepen.io/abcodes/full/JjWMOQb

document.addEventListener("scroll", parallax);

function parallax() {

	this.querySelectorAll(".parallax-scroll").forEach((item) => {
		if (item.dataset.direction === "verticle") {
			const pos = window.pageYOffset * item.dataset.rate;

			item.style.transform = `translate3d(0, ${pos}px, 0)`;
		} else {
			const posX = window.pageYOffset * item.dataset.ratex;
			const posY = window.pageYOffset * item.dataset.ratey;

			item.style.transform = `translate3d(${posX}px, ${posY}px, 0)`;
		}
	});
}
</script>

{% endblock %}
